---
import Layout from '../layouts/Layout.astro';

---

<Layout title="CollectorsBilds">
	<main>
		<h1 class="text-6xl text-center text-white font-bold">Welcome to CollectorBilds</h1>
		<p class="text-center text-white mt-10 "> The destination reference for the collectors to put the bilds of your cards.</p>
	</main>
</Layout>


